pydantic
azure-core
langchain-pinecone
langchain-core
langchain-huggingface
langchain-text-splitters
fastapi
uvicorn
python-multipart
boto3
pypdf

langchain
langchain-community
langchain-groq

pinecone-client
sentence-transformers

